{{ define "title" }} Ditroye {{ end }}

{{ define "content" }}
<div id="banner">
	<a href="/">{{ template "title" . }}</a>
</div>
<form id="search-form" action="/" method="GET">
	<input class="text-input" type="text" name="battleTag" value="{{ .BattleTag }}"/>
	<input class="submit-input" type="submit" value="search" />
</form>
<h1>{{ .BattleTag }}</h1>
<div id="hero-list">
	<ul>
		{{ range .Heroes }}
		<li><a href="/hero?battleTag={{ $.BattleTag }}&heroId={{ .Id }}">{{ .Name }}</a></li>
		{{ end }}
	</ul>
</div>
{{ end }}